<!doctype html>
<html lang="es">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta name="author" content="José Ignacio Santa Cruz - http://amanecible.com" />

        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

        <title>Registro de tiempo - Dedalus GS</title>

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />        
        <link rel="stylesheet" href="css/style.css" />        

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        
        <header><h1 class="text-center">Registro de tiempo - Dedalus GS</h1></header>
        <section class="container">
            <div class="row">
                <div id="loginpanel" class="panel panel-default col-md-4 col-md-offset-4">
                    <div class="panel-body">
                        <form name="loginfrm" class="form-horizontal" role="form">
                            <fieldset>
                                <legend>Ingreso de usuario</legend>
                                <div class="form-group">
                                <label for="usr" class="col-sm-2 control-label">Usuario</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="usr" placeholder="usuario">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pwd" class="col-sm-2 control-label">Clave</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="pwd" placeholder="clave de acceso">
                                </div>
                            </div>
                                <hr />
                            
                            <div class="text-right">                                
                                    <button type="submit" class="btn btn-info">Ingresar</button>
                                </div>
                            </div>
                            </fieldset>
                            
                        </form>
                        
                        
                    </div>
                    <!--<div class="panel-footer">Panel footer</div>-->
                </div>
                
            </div>
        </section>
    <footer class="container text-right">
        <p>&copy; Dedalus GS 2014</p>
    </footer>

        <script src="http://code.angularjs.org/snapshot/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
