
<!DOCTYPE html>

<html>
<head>
<title>Ingreso al sistema</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="../../../resources/css/semilla.css" rel="stylesheet" media="screen" />
<link href="../../../resources/css/font-awesome.css" rel="stylesheet" media="screen" />

<script src="../../../resources/js/jquery-latest.min.js"></script>
<script src="../../../resources/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="navbar navbar-inverse header-outer" role="banner">
        <div class="row-fluid">
            <div class="span3">
                <img src="../../../resources/img/logo.png" alt="Home" id="logo" class="img-responsive pull-left"/>
            </div>
            <div class="span6 v-center">
                <div class="banner_content">
                    <div class="table-cell1">
                        <h1>Prototipo de Login</h1>
                    </div>
                </div>
            </div>
		</div>
	</header>
		<div class="container-fluid content content_login">
            <div id="toast" class="alert alert-inverse span2 hide">
			 <a class="close" href="#">&times;</a>
			 <p class="message">
				<!-- Aqui debe ir el mensaje -->
			</p>
		      </div>
                <div class="span6 table-cell2" style="float: none; margin: 0 auto;">
				<form class="form-horizontal loginform" action="#" method="get">
					<fieldset >
						<legend class="loginform">Ingreso al sistema</legend>
						<div class="control-group">
							<label forre="userName" class="control-label">Usuario</label>
							<div class="controls">
								<input type="text" class="form-control" id="userName" placeholder="Usuario" name="j_username" />
							</div>
						</div>
						<div class="control-group">
							<label for="password" class="control-label">Contraseña</label>
							<div class="controls">
								<input type="password" class="form-control" id="password" placeholder="Contraseña" name="j_password" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
                                <label class="checkbox">
								 <input type="checkbox" id="remember-me" name="_spring_security_remember_me" />
                                    Recordar en este equipo
                                </label>
							</div>
						</div>
						<div class="form-actions text-right">
							<button type="reset" class="btn">Limpiar</button>
							<button type="submit" class="btn btn-primary">Ingresar</button>
						</div>
					</fieldset>
				</form>
            </div>
		</div>
    <div id="footer">
            <div class="container">
                &copy; Dedalus GS Chile 2013
            </div>
    </div> 
	<script>
		$(":input:first").focus();
        function resize() {
                var realHeight = $( window ).height() - ($("header").height()*2 + $(".footer").height()*2);
                $('.container-fluid').css('height', realHeight-30);
                $('.container-fluid').css('width', $( window ).width()-30);
        }

        resize();
        $(function (){
            $(window).resize(function(){
                resize();
            });
        });
        
	</script>
</body>
</html>