/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #576972;
  text-align: right;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .nav,
  header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size:2em;
    }
}
/* End Sticky footer styles
-------------------------------------------------- */
/* Header styles
-------------------------------------------------- */
header {	
	background-color: #576972;
	color: #fff;
}

#logo {
    margin-top:10px;
    margin-bottom:20px;
    margin-right:20px;
    margin-left: 20px;
    max-height: 60px;
}
/* End Header styles
-------------------------------------------------- */
/* Login styles
-------------------------------------------------- */
.loginform {
    border: 1px solid #e5e5e5; 
    padding: 15px 0px 15px;
    text-align: center;
	border-top: 1pxsolid #e5e5e5;
	*zoom: 1;
    color: white;
    background-color:rgba(81,102,110,0.6);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4F646C, endColorstr=#51666E);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4F646C, endColorstr=#51666E)";
}
/* End Login styles
-------------------------------------------------- */